/*  Navigation CSS Starts */




/*  Navigation CSS End */


.dropbtn {
   color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 500px;
  right:0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button{
  width:100%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


img{ 
  width:100%;
}


.shopping-cart{
  color:#ffff;
  border-left: 1px solid white;
  padding-left:10px;
}

.user-account-logo{
  margin-right:5px;
}


.cart-container{
  display: inline-flex;
  height: 115px;
}


.pdp{

  background-color: #ddd;
 

}

